<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Relevance Chart</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <canvas id="relevancechart"></canvas>
    <script>
        let myChart = null; // Global variable to keep track of the chart instance

        // Function to create a bar chart using Chart.js
        function createBarChart(data) {
            // Convert the object into an array of objects
            console.log(data, "relevancedata");
            const dataArray = Object.keys(data).map(key => {
                return {
                    amenityName: key,
                    amenityScore: data[key]
                };
            });

            const labels = dataArray.map(item => item.amenityName);
            const chartData = dataArray.map(item => item.amenityScore);
            const ctx = document.getElementById('relevancechart').getContext('2d');
            const barColors = ['#FBD4BF', '#FFCFB7', '#F4B0A0', '#F3816F'];

            // Destroy the previous chart instance if it exists
            if (myChart) {
                myChart.destroy();
            }

            myChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: labels,
                    datasets: [{
                        label: 'Category weight in %',
                        data: chartData,
                        backgroundColor: barColors,
                        borderColor: 'red',
                        fontColor: 'black',
                        borderWidth: 1
                    }]
                },
                options: {
                    plugins: {
                        legend: {
                            display: false // Not showing legend
                        }
                    },
                    scales: {
                        y: {
                            beginAtZero: true,
                            ticks: {
                                stepSize: 1
                            },
                            title: {
                                display: true,
                                text: 'Rating weight in %'
                            }
                        }
                    }
                }
            });
        }

        // Event listener for receiving message
        window.addEventListener('message', function(event) {
            createBarChart(event.data);
        });
    </script>
</body>
</html>
