<!DOCTYPE html>
<html>
<head>
    <title>Scatter Plot </title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>

<canvas id="myChart" width="400" height="400"></canvas>

<script>
    const data = {
        "name1": 572.8106930402172, // must be changed to data from mongodb
        "name2": 469.1758209704607
        // ... more data
    };

    const scatterData = Object.keys(data).map(key => ({
        x: data[key],
        y: 1,
        name: key
    }));

    const ctx = document.getElementById('myChart').getContext('2d');
    const myChart = new Chart(ctx, {
        type: 'scatter',
        data: {
            datasets: [{
                label: 'Amenities distance to university in meters',
                data: scatterData,
                backgroundColor: 'rgba(0, 123, 255, 0.5)',
                pointRadius: 50,
                pointHoverRadius: 25

            }]
        },
     options: {
    scales: {
        y: { beginAtZero: true ,
                min: 0,
                max: 2,
                ticks:{
                    stepSize: 1
                }},
        x: {
             beginAtZero: true,
            min: 0, // minimum value for x-axis
            max: 1000, // maximum value for x-axis
            ticks: {
                stepSize: 100 // x-axis interval
            },
             title: {
        display: true,
        text: 'Distance from selected building in meters'
      }
        }
    },
    plugins: {
        tooltip: {
            callbacks: {
                label: function(context) {
                    let xValue = context.raw.x.toFixed(2);
                    let name = context.raw.name;
                    return name + ': ' + xValue + ' meters';
                }
            }
        }
    }
}

    });
</script>

</body>
</html>

