<!DOCTYPE html>
<html>
<head>
    <title>Scatter Plot </title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>

<canvas id="myChart" width="400" height="400"></canvas>

<script>
    const data = {
     0: ['Zimmer 31', 340.4209897951989, 1],
    1: ['Another Name', 472.8106930402172, 2],
    };

    const scatterData = Object.keys(data).map(key => ({
    x: data[key][1], // distance is now the second element in the array
    y: data[key][2], // y-axis value is the third element in the array
    name: data[key][0] // name is the first element in the array
}));


    const ctx = document.getElementById('myChart').getContext('2d');
    const myChart = new Chart(ctx, {
        type: 'scatter',
        data: {
            datasets: [{
                label: 'Amenities distance to university in meters',
                data: scatterData,
                backgroundColor: 'rgba(0, 123, 255, 0.5)',
                pointRadius: 50,
                pointHoverRadius: 25

            }]
        },
     options: {
    scales: {
        y: { beginAtZero: true ,
                min: 0,
                max: 5,
                ticks:{
                    stepSize: 1
                }},
        x: {
             beginAtZero: true,
            min: 0, // minimum value for x-axis
            max: 500, // maximum value for x-axis
            ticks: {
                stepSize: 100 // x-axis interval
            },
             title: {
        display: true,
        text: 'Distance from selected building in meters'
      }
        }
    },
    plugins: {
        tooltip: {
            callbacks: {
                label: function(context) {
                    let xValue = context.raw.x.toFixed(2);
                    let name = context.raw.name;
                    return name + ': ' + xValue + ' meters';
                }
            }
        }
    }
}

    });
</script>

</body>
</html>

