
                <!-- Type of University -->
                <h1>Colleges</h1>
                <h5>College Type</h5>
                <div class="college-filter">
                    <input type="text" id="universityName" placeholder="Search by University Name...">
                    <select id="cityFilter">
                        <option value="">Select City</option>
                        <!-- City options here -->
                    </select>
                    <select id="categoryFilter">
                        <option value="">Select Category</option>
                        <option value="university (Universität)">University </option>
                        <option value="university_of_applied_sciences (Fachhochschule)">University of Applied Sciences</option>
                        <option value="college_of_education (Pädagogische Hochschule)">College of Education</option>
                    </select>
                </div>



            <div class="mt-5">
                <h3>Filtered Colleges</h3>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">University Name</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody id="universityTableBody">
                        <!-- Rows will be dynamically populated here -->
                    </tbody>
                </table>
            </div>

            <script>
                document.addEventListener('DOMContentLoaded', function() {
                    const tableBody = document.getElementById('universityTableBody');
                    tableBody.addEventListener('click', function(e) {
                        if (e.target && e.target.classList.contains('delete-row')) {
                            // Remove the corresponding row
                            e.target.closest('tr').remove();
                            fetchAndDisplayCollegesOnMap();
                        }
                    });
                });
            </script>

